@import-normalize;
/* This library is imported from Create-React App and allows for the CSS to look more consistent across different browsers */
@import "recipe-list.css";
@import "buttons.css";

body {
  background: orange;
  padding: 0;
  margin: 0;
}

html {
  font-size: 25px;
}
